.card-container {
    color: white;
    background-color: #282c31;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #4d4d4d;
    font-weight: 700;
    border-radius: 13px;
}
.text-container {
    text-align: center;
}
.upper-text {
    font-size: 103px;
}
.lower-text {
    font-size: 24px;
    padding-bottom: 23px;
    margin-top: -30px;
}
