<div class="list-container">
   
    
    <a href="#" class="sidebar-btn" routerLink="/projects" routerLinkActive="sidebar-btn-active">
        <span>
            <span class="material-icons" routerLink="/projects" routerLinkActive="material-icons-active">
                <fa-icon [icon]="faProjectDiagram"></fa-icon>
            </span>        
                
                
        </span>
            <span class="icon-text">PROJECTS</span>
        </a>
        
        <a href="#" class="sidebar-btn" routerLink="/dashboard" routerLinkActive="sidebar-btn-active">
            <span>
                <span class="material-icons" routerLink="/dashboard" routerLinkActive="material-icons-active">
                    <fa-icon [icon]="faPaste"></fa-icon>
                        
                </span>        
                    
                    
            </span>
                <span class="icon-text">DASHBOARD</span>
            </a>
        <br>

        <a href="#" class="sidebar-btn" routerLink="/definition" routerLinkActive="sidebar-btn-active">
            <span>
                <span class="material-icons" routerLink="/definition" routerLinkActive="material-icons-active">
                    <fa-icon [icon]="faSlidersH"></fa-icon>
                        
                </span>        
                    
                    
            </span>
                <span class="icon-text">DEFINITION</span>
            </a>
        <br>

        <a href="#" class="sidebar-btn" routerLink="/senarios" routerLinkActive="sidebar-btn-active">
            <span>
                <span class="material-icons" routerLink="/senarios" routerLinkActive="material-icons-active">
                    <fa-icon [icon]="faChartLine"></fa-icon>
                        
                        
                        
                </span>        
                    
                    
            </span>
                <span class="icon-text">SENARIOS</span>
            </a>
        <br>
    
</div>