
<div class="dash-container">
    <div class="card-display">
        <div class="card-size">
            <app-dashboard-card [Title]="titleCard1" [Text]="textCard1"></app-dashboard-card>
        </div>
        <div class="card-size mg-left-card">
            <app-dashboard-card [Title]="titleCard2" [Text]="textCard2"></app-dashboard-card>
        </div>
        <div class="card-size mg-left-card">
            <app-dashboard-card-res></app-dashboard-card-res>
        </div>
    
    </div>
    <app-graph-table-container></app-graph-table-container>
    <app-flow-sheet-container></app-flow-sheet-container>

</div>