.card-container {
    color: white;
    background-color: #282c31;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #4d4d4d;
    font-weight: 700;
    border-radius: 13px;
}
.text-container {
    padding-left: 25px;
    padding-top: 15px;
}
.upper-text {
    font-size: 30px;
    padding-bottom: 40px;
}
.lower-text {
    font-size: 42px;
    padding-bottom: 20px;
}
